<h2>Validaciones Reactvas</h2>
<hr>

<div class="row">
    <div class="col">
        <form [formGroup]="miForm" autocomplete="off" (ngSubmit)="submit()">

            <!-- Nombre -->
            <div class="row mb-3">
                <label  class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Nombre del usuario"
                            formControlName="nombre">
                    <span   class="form-text text-danger"
                            *ngIf="campoNoValido('nombre')">
                        Debe de ser en formato de nombre y apelido
                    </span>
                </div>
            </div>

            <!-- Email -->
            <div class="row mb-3">
                <label  class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">
                    <input  type="email"
                            class="form-control"
                            placeholder="E-mail del usuario"
                            formControlName="email">
                    <span   class="form-text text-danger"
                            *ngIf="campoNoValido('email')">
                       {{emailErrorsMsg}}
                    </span>
                    
                </div>
            </div>

            <!-- Username -->
            <div class="row mb-3">
                <label  class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">
                    <input  type="text"
                            class="form-control"
                            placeholder="Username del usuario"
                            formControlName="username">
                    <span   class="form-text text-danger"
                            *ngIf="campoNoValido('username')">
                        Username no puede ser strider
                    </span>
                    
                </div>
            </div>

            <!-- Password -->
            <div class="row mb-3">
                <label  class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-9">
                    <input  type="password"
                            formControlName="password"
                            class="form-control"
                            placeholder="password de su cuenta">

                    <span   class="form-text text-danger"
                            *ngIf="campoNoValido('password')">
                        La contraseña debe ser mayor de 6 caracteres
                    </span>
                </div>
            </div>

            <!-- Password2 -->
            <div class="row mb-3">
                <label  class="col-sm-3 col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input  type="password"
                            class="form-control"
                            formControlName="confirmarPass"
                            placeholder="Confirmar la contraseña">

                    <span   class="form-text text-danger"
                            *ngIf="campoNoValido('confirmarPass')">
                        Las contraseñas debem de ser iguales
                    </span>
                    
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            type="submit"
                            [disabled]="miForm.pending || !miForm.valid "
                            >
                        Crear
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

<h2>Form Valid: {{miForm.valid}}</h2>
<h2>Form status: {{miForm.status}}</h2>
<h2>Form Errors:</h2>
<pre> {{miForm.errors | json}}</pre>

<h2>Nombre</h2>
<pre>{{miForm.controls.nombre.errors | json}}</pre>

<h2>email</h2>
<pre>{{miForm.controls.email.errors | json}}</pre>

<h2>Username</h2>
<pre>{{miForm.controls.username.errors | json}}</pre>

<h2>Password</h2>
<pre>{{miForm.controls.password.errors | json}}</pre>

<h2>corfirmar Password</h2>
<pre>{{miForm.controls.confirmarPass.errors | json}}</pre>